<app-header></app-header>
<section id="payments">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <app-payments></app-payments>
      </div>
      <div class="col-md-8">
          <app-search-payments></app-search-payments>
          <div class="row">
            <div class="col-md-7">
              <app-payement-list></app-payement-list>
            </div>
            <div class="col-md-5">
              <app-payement-analysis></app-payement-analysis>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>