<app-header></app-header>
<section id="payments">
  <div class="container">
    <div class="row">
      <div class="col-md-4 pr-md-0">
        <app-payments></app-payments>
      </div>
      <div class="col-md-8 pl-md-0">
          <app-search-payments></app-search-payments>
          <div class="row">
            <div class="col-md-7 pr-md-0">
              <app-payement-list></app-payement-list>
            </div>
            <div class="col-md-5 pl-md-0">
              <app-payement-analysis></app-payement-analysis>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>